.rentview-container{
    width: 16vw;
    height: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    color:black;
    overflow: hidden;
}
.rentview-container img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 100%;
    font-size: 0.95vw;
}

.type-property{
    background:#00638e;
    border-radius:1vw; 
    text-align:center;
    text-justify:center;
    font-size:0.75vw;
    width:fit-content;
     margin-bottom:1%
}