
input{
    border: 1px solid #8b8b8b;
    border-radius: 0.5vw;
    margin: 0.2%;
    font-size: 0.95vw;
    padding: 7px 7px 7px 10px;
}
select{
    border: 1px solid #8b8b8b;
    border-radius: 0.5vw;
    margin: 0.2%;
    font-size: 0.95vw;
    padding: 7px;
}

.descripcion {
  width: 60%;
  height: 15vh;      /* Alto del textarea */
  padding: 10px ;      /* Espaciado interior */
  border: 1px solid #8b8b8b;
  border-radius: 0.5vw;
  font-size: 1vw;
  resize: vertical; 
}

h2{
    font-size: 1.3vw;
    font-weight: bold;
}
h3{
    color: #00638e;
    font-size: 1.1vw;
    font-weight: bold;
    margin-bottom: 1%;
}
h4{
    margin-top: 0.2%;
    font-size: 0.95vw;
    font-weight: bold;
}

hr{
    border-width: 1px;
    border-color: #00638e;
    width: 60%;
    margin-bottom: 0.8vw;
}

a{
    color: #000000;
    font-size: 1vw;
}
a:hover{
    color: #00638e;
    text-decoration: underline;
}

.login-container {
  width: 30%;
  margin: 70px auto;
  padding: 3%;
  background: rgb(255, 255, 255);
  border-radius: 1vw;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}

.boton {
  width: 100%;
  padding: 10px;
  margin-top: 5%;
  border: "none";
  border-radius: 5px;
  background: #00638e;
  color: rgb(233, 233, 241);
  cursor: pointer;
  font-weight: bold;
}